<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title><b>Actors</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="actors && actors.items">
  <div style="display: flex; justify-content: center; padding-top: 20px;">
    <ion-card
      style="display: flex; flex-direction: column; cursor: pointer; max-width: 150;"
      *ngFor="let actor of Object.keys(actors.items)"
      (click)="openForm(actors.items[actor])"
    >
      <img src="https://picsum.photos/150?random={{actors.items[actor].id}}" />
      <ion-card-header>
        <ion-card-subtitle>Name:</ion-card-subtitle>
        <ion-card-title style="width: 150px;"
          >{{actors.items[actor].name}}</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <h6>Age: {{actors.items[actor].age}}</h6>
        <h6>Gender: {{actors.items[actor].gender}}</h6>
      </ion-card-content>
    </ion-card>
    <ion-card
      style="opacity: .7; align-items: center; display: flex; flex-direction: column; cursor: pointer; max-width: 150;"
      *ngIf="auth.can('add:actor')"
      (click)="openForm()"
    >
      <ion-card-header>
        <ion-card-title>Add Actor</ion-card-title>
      </ion-card-header>

      <ion-card-content style="color:grey; font-size: 256%;">
        <ion-icon name="add-circle"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
